/* 
    GENERAL
*/
@font-face{
    font-family: Quicksand;
    src: url('../fonts/Quicksand-Bold.ttf')  format('truetype');
}

body {
    margin: 0;
    font-family: Quicksand !important; 
}

.container{
    display: grid;
    grid-template-columns: 19.6% 80.4%;
}

.blueBar{
    height: 100vh;
    box-shadow: 0.313vw 0 0.521vw 0 rgba(0, 0, 0, 0.36);
    display: inline;
    position: relative;
    background: linear-gradient(323deg, #001b48 0%, #02457a 25%, #018abe 100%);
}

.mainScreen{
    display: inline;
    position: relative;
    height: 100vh;
}

.initialScreen{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.initialScreen span{
    font-size: 8vh;
    color: #7fbec5;
    opacity: .50;
    -webkit-animation: breathing 3s ease-out infinite normal;
    animation: breathing 3s ease-out infinite normal;
    user-select: none;
}

@keyframes breathing {
    0% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    
    25% {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    
    60% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    
    100% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
    }

/* 
    CONTROLS
*/
.inputs{
    background-color: #ffffff;
    display: block;
    position: relative;
    box-shadow: 0 0.27vh 0.313vw 0 rgba(0, 0, 0, 0.16);
    border-bottom-right-radius: 3.255vw;
    width: 100%;
    height: 55vh;
    overflow: auto;
}

form{
    font-size: 2.5vh;
    color: #018ABE;
    margin-top: 2.13vh;
    margin-left: 5%;
    margin-right: 10%;
    height: 35vh;
    user-select: none;
}

form p{
    font-size: 3vh;
    color:#001b48;
    user-select: none;
}

.title{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1.01vh;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
    border-radius: 2.813vw;
    box-shadow: 0 0.64vh 0.521vw 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;
    text-align: center;
    font-size: 5vh;
    color:#001b48;
    text-shadow: -0.052vw 0.37vh 0.74vh rgba(0, 0, 0, 0.15);
    user-select: none;
}

.select{
    padding: 0.4vw;
    outline: none;
    margin-left: 0.5vw;
    border-radius: 0.4em;
    border: solid 0.15em #001b48;;
    font-family: Quicksand;
    color: #001b48;
    font-size: 2.5vh;
    cursor: pointer;
}

.select option{
    border: none;
}

.userNumbers p{
    font-size: 1.5vh;
}

.userNumbers input{
    outline: none;
    font-family: QuickSand;
    font-size: 2.5vh;
    margin-top: 0.5vh;
    width: 16vw;
    padding: 0.8vh;
    padding-bottom: 0.8vh;
    color: #001b48;
    border-radius: 0.2em;
    border: solid 0.13em #001b48;
}

.userNumbers input.error{
    border: solid 0.13em #eb3636;
}

.input-button-group{
    position: absolute;
    margin-bottom: 4.5vh;
    margin-right: 1.1vw;
    bottom:0;
}

.Error{
    color:#eb3636;
    margin-top: .5vh;
    user-select: none;
}

.button {
    font-family: QuickSand;
    font-size: 2.3vh;
    outline: none;
    cursor: pointer;
    border: none;
    padding: 1vw;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    border-radius: 1.5em;
    user-select: none;
}

.button:hover{
    transform: translateY(-3px);
}

.button.start{
    margin-right: 1vw;
    box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.16);
    background-color: #001b48;
    color:#d6e8ee;
    -webkit-transition:all 0.2s ease-in;
    -moz-transition:all 0.2s ease-in;
    -o-transition:all 0.2s ease-in; 
    transition:all 0.2s ease-in;
}

.button.start:disabled,.button.start[disabled]{
    cursor: default;
    box-shadow: none;
    opacity: 0.5;
    -webkit-transition:all 0.5s ease-in;
    -moz-transition:all 0.5s ease-in;
    -o-transition:all 0.5s ease-in; 
    transition:all 0.5s ease-in;
    transform: translateY(0px);
}

.start svg{
    width: 1.2vw;
    height: 1.2vw;
    vertical-align: sub;
    margin-left: 0.5vw;
}

.start svg path{
    fill:#d6e8ee;
}

.button.restart{
    margin-right: auto;
    border: solid 0.15em #001b48;
    padding: 0.85vw;
    background-color: white;
    color:#001b48;
    box-shadow: 0 1em 2em 0 rgba(0, 0, 0, 0.16);
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear; 
    transition:all 0.3s linear;
}

.button.restart:disabled,.button.restart[disabled]{
    cursor: default;
    border: none;
    box-shadow: none;
    padding: 1vw;
    background-color: #f5f5f5;
    color:#c2d2ed;
    -webkit-transition:all 0.5s ease-in;
    -moz-transition:all 0.5s ease-in;
    -o-transition:all 0.5s ease-in; 
    transition:all 0.5s ease-in;
    transform: translateY(0px);
}

/* 
    EXPLICATION
*/
.explication{
    font-size: 1.9vh;
    color:#D6E8EE;
    padding-left: 1.6vw;
    padding-right: 1.6vw;
}

.explication h1{
    font-size: 3.5vh;
    color:#97CADB;
    margin-bottom: 1vh;
}

.explication b{
    color: #97CADB;
}

.explication p:first-of-type{
    margin-top: 1vh;
}

/*
    ArrayActualState
*/

.containerAA{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.array{
    border-spacing: .5vw;
}

.element-Array{
    display: table-cell;
    width: 5vw;
    height: 7.5vh;
    border-spacing: 1vw;
    border-radius: 8px;
    border: solid 7px #02457a;
    background-color: #018abe;
    text-align:center;
    vertical-align:middle;
    color: #d6e8ee;
    font-size:7.8vh;
    user-select: none;
}

.containerAA p{
    margin-top: 1vh;
    margin-bottom: 2.5vh;
    font-size: 4vh;
    color:#001b48;
    user-select: none;
}

/*
    mainAnimation
*/
.screenCenter{
    display: inline-flex;
}

.mainAnimation{
    display: flex;
    margin-left: 3.5vw;
    border-radius: 45px;
    box-shadow: 5px 6px 15px 0 rgba(0, 0, 0, 0.25);
    width: 55vw;
    height: 55vh;
    flex-direction: column;
    user-select: none;
}

.mainAnimation h1{
    text-align: center;
    color: #001b48;
    font-size: 5vh;
    margin-top: 1vh;
}

.mainAnimation h2{
    display: flex;
    align-items: center;
    width: fit-content;
    text-align: center;
    color: #001b48;
    font-size: 4.5vh;
    margin-bottom: 1vh;
    margin: 0;
}

.mainAnimation h2 .pointer{
   width: 3.5vw;
   margin-right: 1vw;
}

.mainAnimation h2 + h2{
    color: #018abe;
}

.mainAnimation div:not(div+div){
    display: flex;
    align-items: center;
    flex-direction: column;
}

.mainAnimation div + div{
    margin-top:3vh;
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.mainAnimation table{
    margin-left: auto;
    margin-right: auto;
    border-spacing: .2vw;
}

.mainAnimation tr:nth-child(2) td:not(:nth-child(1)){
    width: 2.8vw;
    height: 2.5vh;
    border-spacing: 1vw;
    border-radius: 8px;
    border: solid 7px #02457a;
    background-color: #97cadb;
    color: #02457a;
    text-align:center;
    vertical-align:middle;
    font-size:4.7vh;
}

.mainAnimation tr:nth-child(2) td:first-of-type,
.mainAnimation tr:nth-child(1) td,
.mainAnimation tr:nth-child(3) td
{
    width: 2.8vw;
    height: 2.5vh;
    border: solid 7px transparent;
    border-top: 0px;
    border-bottom: 0px;
    text-align: center;
}

.mainAnimation tr:nth-child(3) td{
    padding-top: 0.8vh !important;
}

.pivot{
    background-color: #018abe !important;
    border: solid 7px #001b48 !important;
    color: #d6e8ee !important;
}

.pointer{
    width:2.7vw;
}

.pointer polygon{
    fill:#001b48;
}

.pointer.S{
    transform: rotate(180deg);
}
.pointer.S polygon{
    fill:#018abe;
}


/*
    callsQuickSort
*/
.callsQuickSort{
    display: inline-flex;
    margin-left: 3.5vw;
    border-radius: 1em 1em 2em 2em;
    box-shadow: 3px 7px 6px 0 rgba(0, 0, 0, 0.16);
    background-image: linear-gradient(to bottom, #97cadb, #d6e8ee);
    width: 15vw;
    height: 55vh;
    flex-direction: column;
    user-select: none;
}

.callsQuickSort div:first-of-type{
    display: inline-flex;
    text-align: center;
    width: 100%;
    height: 10%;
    border-radius: 1em 1em 0em 0em;
    background-image: linear-gradient(to bottom, #02457a, #001b48);
    align-items: center;
    justify-content: center;
    color:#97cadb;
    font-size: 2.4vh;
}


.callsQuickSort div + div{
    width: 100%;
    height: 90%;
    border-radius: 0em 0em 2em 2em;
    display: flex;
    color: #02457a;
    font-size: 2.5vh;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;
}


.callsQuickSort div + div::-webkit-scrollbar {
    background-color:transparent;
    width:0.5vw;
}

/* background of the scrollbar except button or resizer */
.callsQuickSort div + div::-webkit-scrollbar-track {
    background-color: transparent;
}
.callsQuickSort div + div::-webkit-scrollbar-track:hover {
    background-color:transparent;
}

/* scrollbar itself */
.callsQuickSort div + div::-webkit-scrollbar-thumb {
    background-color:#96c0c5;
    border-radius:1.5em;
}
.callsQuickSort div + div::-webkit-scrollbar-thumb:hover {
    border:0.5vw solid #7fbec5;
}

/* set button(top and bottom of the scrollbar) */
.callsQuickSort div + div::-webkit-scrollbar-button {display:none}

.callsQuickSort svg{
    width: 1.5vw;
    height: 1.5vw;
    vertical-align: sub;
    margin-left: 1vw;
}

.callsQuickSort p{
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.callsQuickSort svg path{
    fill:#001b48;
}

.invisible{
    visibility: hidden;
}

/* 
    Controls
*/
.Controls{
    display: grid;
    margin-top: 3.2vh;
    margin-left: 3.5vw;
    width: 45vw;
    height: 17vh;
    grid-template-columns: 33.46% 66.55%;
}

.containerButtons,.containSlider{
    display: flex;
    align-items: center;
    justify-content: center;
}

.containSlider{
    flex-direction: column;
}
.containSlider div{
    width: 100%;
}

.containSlider div span{
    float: left;
    font-size: 2.5vh;
    margin-left: -1.75vw;
    color:#02457a;
    cursor: default;
    user-select: none;
}

.containSlider div span + span{
    float: right;
    margin-left: 0vw !important;
    margin-right: -2.2vw;
}

.ffarrow,.arrow{
    width: 3vw;
    height: auto;
    -webkit-filter: drop-shadow( 0 4px 5px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0 4px 5px rgba(0, 0, 0, 0.25));
    cursor: pointer;
    margin-right: 1vw;
    transition: all .2s;
}

.ffarrow:first-of-type{
    margin-left: 5vw;
}

.arrow{
    width: 2.8vw;
}

.L{
    transform: rotate(180deg) ;
}

.buttonPlayPause{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1em;
    width: 4vw;
    height: 8vh;
    box-shadow: 0 8px 13px 0 rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(to bottom, #02457a, #001b48);
    cursor: pointer;
    margin-right: 1vw;
    transition: all .2s;
}

.buttonPlayPause svg{
    width: 2vw;
    height: auto;
}

.buttonPlayPause svg * {
    pointer-events: none;
}

.buttonPlayPause svg path{
    fill:#d6e8ee;
}

.buttonPlayPause:hover{
    transform: translateY(-3px)scale(1.1);
}

.ffarrow path, .arrow path{
    fill:#001b48;
    pointer-events: none;
}

.ffarrow *, .arrow *{
    pointer-events: none;
}

.ffarrow.L:hover, .arrow.L:hover{
    transform: rotate(180deg)translateY(3px)scale(1.05);
}

.ffarrow:hover:not(.L), .arrow:hover:not(.L){
    transform: translateY(-3px)scale(1.05);
}

.ffarrow:disabled, .arrow:disabled, .ffarrow[disabled], .arrow[disabled],.ffarrow[disabled] *, .arrow[disabled] *{
    pointer-events: none;
    opacity: .9;
}


/* 
    AnimationExplication
*/
.AnimationExplication{
    display: flex;
    width: 25vw;
    height: 17vh;
    margin-left: 3.5vw;
    margin-top: 3.2vh;
    background-image: linear-gradient(to bottom, #02457a, #001b48);
    border-radius: 2em;
    flex-direction: column;
}

.AnimationExplication h2{
    font-size: 3vh;
    margin-left: 1.25vw;
    margin-top: 1vh;
    margin-bottom: 0.5vh;
    color:#97cadb;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

.AnimationExplication p{
    font-size: 2.5vh;
    margin-left: 1.25vw;
    margin-right: 1.25vw;
    margin-top: 0;
    color:#d6e8ee;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}
